<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<ul>
    <li>
        {% for x in data %}
            <h1>{{ x.title }}</h1>  
            {% if role == "admin" %}
            <a href=""> | Edit</a>
            {% endif %}
                
            <p>{{ x.caption }}</p>        
            <br>
            <ul>
                <li>
                    {% for tag in x.tags %}
                        {{ tag | title}}|
                    {% endfor %}
                </li>
            </ul>
        {% empty %}
            <p>No Post Yet</p> 
        {% endfor %}
    </li>
</ul>
</body>
</html>